@import "tailwindcss";

@theme {
  --color-MidnightViolet: #37123C;
  --color-primaryBronze: #DDA77B;
  --color-smokyRose: #945D5E;
  --color-muted: #A99F96;

  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist", sans-serif;
}
button,
a {
  -webkit-tap-highlight-color: transparent;
}
